<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Information</h3>
  </div>
  <div class="panel-body">
    <p>Everyone is trying to improve his life in some way, but sometimes it feels impossible to make a decision and you
      don't know where to turn. Maybe it’s about a close relationship, a problem at work or regarding a crucial career
      or business move. We will help you to find the right advice from successful people around the world</p>
  </div>
</div>


<div class='' style="width: 300px">

  <div class="row">
    <div class='col-md-2'>
      <%= image_tag current_user.profile.url_image.nil? ? "avatar-blank.png" : current_user.profile.url_image, class: "img-thumbnail", alt: 'Avatar' %>
    </div>

    <div class='col-md-10'>
      <p>Name: <%= current_user.profile.first_name + ' '+ current_user.profile.last_name %></p>

      <p>Description: <%= current_user.profile.description %></p>

      <p>Country: <%= current_user.profile.country %></p>
    </div>
  </div>

</div>
